// Media Mixins
@mixin mediaSm {
	@media screen and (max-width: 374px) {
		@content;
	}
}

@mixin mediaMd {
	@media screen and (max-width: 929px) {
		@content;
	}
}

@mixin mediaLg {
	@media screen and (min-width: 930px) and (max-width: 1170px) {
		@content;
	}
}
@mixin mediaXl {
	@media screen and (min-width: 1171px) {
		@content;
	}
}

@include mediaSm {
	.viewfoil {
		padding: 0.5rem;
	}
	.devicon-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
	h3,
	h4 {
		-webkit-text-stroke-width: 0px;
		font-size: 1.2rem;
	}
	.project-image {
		& > a > img {
			height: 20rem !important;
		}
	}
}
