// Media Mixins
@mixin mediaSm {
	@media screen and (max-width: 374px) {
		@content;
	}
}

@mixin mediaLg {
	@media screen and (min-width: 930px) and (max-width: 1170px) {
		@content;
	}
}
@mixin mediaXl {
	@media screen and (min-width: 1171px) {
		@content;
	}
}

// Small screens

@include mediaSm {
	.viewfoil {
		padding: 0.5rem;
	}
	button {
		padding: 0.5rem !important;
	}
	h3,
	h4 {
		-webkit-text-stroke-width: 0px;
		font-size: 1rem;
	}
	.project-image {
		& > a > img {
			height: 18rem !important;
		}
	}
}

// Width > Height

@media (orientation: landscape) {
	@media screen and (max-width: 374px * 1.75) {
		.viewfoil {
			padding: 1rem;
		}
		button {
			padding: 0.5rem !important;
		}
		h3,
		h4 {
			font-size: 1rem;
		}
		.project-container {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			text-align: center;
		}
		.project-image {
			& > a > img {
				height: 20rem !important;
			}
		}
	}
	body {
		flex-direction: row;
		justify-content: space-between;
	}
	.viewfoil {
		height: 100%;
		position: relative;
		justify-self: flex-start;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.menu {
		flex-basis: 45vmax;
		align-self: flex-end;
		grid-template-columns: repeat(3, 15vmax);
		grid-template-rows: repeat(3, 15vmax);
		& > .item,
		.card {
			width: 15vmax !important;
			justify-self: flex-end;
		}
	}
}

// Square displays
@media screen and (min-aspect-ratio: 5/5) {
	.viewfoil {
		justify-content: unset;
	}
}

@include mediaLg {
	p {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 4rem;
	}
	h1 {
		font-size: 6rem;
	}
	h3,
	h4 {
		font-size: 2rem;
	}
}
@include mediaXl {
	p {
		font-size: 2rem;
	}
	h2 {
		font-size: 4rem;
	}
	h1 {
		font-size: 6rem;
	}
	h3,
	h4 {
		font-size: 2rem;
	}
	.project-image {
		& img {
			height: 40rem !important;
		}
	}
}

@media screen and (min-aspect-ratio: 7/10) and (max-aspect-ratio: 5/5) {
	@media screen and (max-height: 600px) {
		.menu {
			& > :nth-child(3) {
				visibility: hidden;
			}
			& > :nth-child(4) {
				visibility: hidden;
			}
			& > :nth-child(5) {
				visibility: hidden;
			}
		}
	}
	.menu {
		& > :nth-child(1) {
			visibility: hidden;
		}
		& > :nth-child(2) {
			visibility: hidden;
		}
	}
}
