.menu {
	background-color: transparent !important;
	top: -50vh;
	justify-content: center;

	display: grid;
	grid-template-columns: repeat(3, $cardSize);
	grid-template-rows: repeat(3, $cardSize);
	& > :first-of-type {
		grid-column: 1/3;
		justify-self: center;
	}
	.item {
		background-color: transparent;
		position: relative;
		top: -100vh;
		.card {
			position: absolute;
			width: $cardSize;
		}
	}
	& button {
		color: $textColor;
		background-color: $backgroundColor;
		border-radius: 16px;
		border: 3px $accentColor solid;
		padding: 0.7rem;

		font-size: 1.3rem;
		margin: 0;
		text-align: center;
		position: absolute;
		z-index: 1;
		& > h3,
		h4 {
			margin: 0;
		}
	}
}

.about,
.contact,
.projects {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Animation

.fall {
	position: relative;
	animation: fall 0.5s forwards;
}

.spreadLeft {
	@include movement(140vmax, 0);
}
.spreadRight {
	@include movement(-140vmax, 0);
}

@keyframes fall {
	100% {
		top: 0;
	}
}
