@import "config";
@import "menu";

html,
body {
	overflow: hidden;
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
	background-color: $backgroundColor;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.viewfoil {
	width: 100%;
	box-sizing: border-box;
	padding: 2rem;
	position: absolute;
	top: 0;
	height: calc(100% - #{$cardSize});
	overflow-x: hidden;
}

.devicon-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;

	& > i {
		padding: 0;
	}
}

// Title page

h1 {
	.accent {
		color: $textColor;
		-webkit-text-fill-color: $accentColor; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: $textColor;
	}
	color: $textColor !important;
	font-size: 4rem;
	font-weight: 700;
	margin: 0;
	line-height: 0.8;
}

h2 {
	color: $textColor;
	font-size: 2rem;

	margin: 0;
	line-height: 0.8;
}

// Project, about and contact

.project-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, auto);
	column-gap: 1rem;

	& h2 {
		color: $textColor;
		text-decoration: none;
		display: inline;
	}
}

.project-image {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	grid-row: 1/4;
	height: 100%;
	width: 100%;

	& > h4 {
		color: $textColor;
		background-color: $backgroundColor;
		border-radius: 16px;
		padding: 0.3rem;
		border: 3px $accentColor solid;

		font-size: 2rem;

		margin-top: 5rem;
		pointer-events: none;
		position: absolute;
		z-index: 1;
	}
	& > a {
		border: none;
		& > img {
			position: relative;
			border: 3px $accentColor solid;
			height: 25rem;
		}
	}
}

svg path {
	fill: $textColor;
	color: $textColor;
	font-size: 5rem;
	padding-bottom: 1rem;
}

p {
	font-weight: normal;
	line-height: 1.4;
	font-size: 18px;
	color: $textColor;
}

a {
	color: $textColor;
	text-decoration: none;
	border-bottom: $accentColor 4px solid;
	padding-bottom: 0.2rem;
}

.project-details {
	margin-top: 1rem;
	text-align: center;
}

@import "media";
