html,
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%; }

body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.viewfoil {
  box-sizing: border-box;
  padding: 2rem;
  position: absolute;
  top: 0;
  height: calc(100% - 33.33333vmin);
  overflow-x: hidden; }
  .viewfoil > h1 {
    color: #262524; }

.menu {
  background-color: transparent;
  top: -50vh;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 33.33333vmin);
  grid-template-rows: repeat(3, 33.33333vmin); }
  .menu > :first-of-type {
    grid-column: 1/3;
    justify-self: center; }

.card {
  position: absolute;
  width: 33.33333vmin; }

.overflow-hidden {
  overflow: hidden; }

h1 {
  color: #c0bfd9 !important;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  line-height: 0.8; }
  h1 .accent {
    color: #262524; }

h2 {
  color: #262524;
  font-size: 2rem;
  grid-column: 1/3;
  border-radius: 16px;
  margin: 0;
  line-height: 0.8; }

.about,
.contact,
.projects {
  display: flex;
  align-items: center;
  justify-content: center; }

h3 {
  color: #262524;
  -webkit-text-fill-color: #262524;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c0bfd9;
  background-color: #f2f2f2;
  border-radius: 16px;
  padding: 0.5rem;
  border: 3px #c0bfd9 solid;
  font-size: 1.7rem;
  margin: 0;
  text-align: center;
  position: absolute;
  z-index: 1; }

.item {
  position: relative;
  top: -100vh;
  /* -webkit-animation: fall 1s normal; 
	-moz-animation: fall 1s normal; 
	-o-animation: fall 1s normal; 
	animation: fall 1s normal;  */ }

/* @keyframes fall {
	from {
		top: 0;
		left: 0;
	}
	to {
		top: 900px;
	}
} */
/* div.item {
	transform: translateY(150%);
} */
.about-title,
.contact-title,
.projects-title {
  color: #262524; }

p {
  font-weight: normal;
  line-height: 1.4;
  font-size: 18px;
  color: #262524; }

i {
  color: #262524;
  font-size: 5rem;
  padding-bottom: 1rem; }

.accent-accentColor {
  color: #262524; }

.fall {
  position: relative;
  animation: fall 0.5s forwards; }

.spreadLeft {
  transition: transform 0.5s;
  transform: translate(100vh, 0); }

.spreadRight {
  transition: transform 0.5s;
  transform: translate(-100vh, 0); }

@keyframes fall {
  100% {
    top: 0; } }

.project-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem; }

.project-image {
  grid-row: 1/4;
  border: #262524 3px solid;
  width: 100%; }
  .project-image > h4 {
    position: absolute;
    font-size: 1.5rem;
    line-height: 10rem;
    margin: 0;
    text-align: center;
    color: black;
    z-index: 1; }
  .project-image > a > img {
    width: 100%; }

.spinnerContainer {
  min-width: 7rem;
  min-height: 7rem;
  align-self: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .spinnerContainer .spinner {
    background-color: red;
    border: 16px solid red;
    border: 5px inset #8b0000;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: grow 2s ease-in infinite; }

@keyframes grow {
  0% {
    width: 5rem;
    height: 5rem;
    transform: rotate(30deg); }
  50% {
    width: 2.5rem;
    height: 2.5rem;
    transform: rotate(70deg); }
  100% {
    width: 5rem;
    height: 5rem;
    transform: rotate(30deg); } }
