.menu {
  top: -50vh;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 33.33333vmin);
  grid-template-rows: repeat(3, 33.33333vmin); }
  .menu > :first-of-type {
    grid-column: 1/3;
    justify-self: center; }
  .menu .item {
    position: relative;
    top: -100vh; }
    .menu .item .card {
      position: absolute;
      width: 33.33333vmin; }

.about,
.contact,
.projects {
  display: flex;
  align-items: center;
  justify-content: center; }

h3,
h4 {
  color: #262524;
  -webkit-text-fill-color: #262524;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c0bfd9;
  background-color: #f2f2f2;
  border-radius: 16px;
  padding: 0.5rem;
  border: 3px #c0bfd9 solid;
  font-size: 1.7rem;
  margin: 0;
  text-align: center;
  position: absolute;
  z-index: 1; }

.fall {
  position: relative;
  animation: fall 0.5s forwards; }

.spreadLeft {
  transition: transform 0.5s;
  transform: translate(100vh, 0); }

.spreadRight {
  transition: transform 0.5s;
  transform: translate(-100vh, 0); }

@keyframes fall {
  100% {
    top: 0; } }

html,
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%; }

body {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.viewfoil {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  position: absolute;
  top: 0;
  height: calc(100% - 33.33333vmin);
  overflow-x: hidden; }

.devicon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center; }
  .devicon-container > i {
    padding: 0; }

h1 {
  color: #262524 !important;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  line-height: 0.8; }
  h1 .accent {
    color: #c0bfd9; }

h2 {
  color: #262524;
  font-size: 2rem;
  margin: 0;
  line-height: 0.8; }

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  column-gap: 1rem; }
  .project-container h2 {
    color: #262524;
    text-decoration: none;
    border-bottom: #c0bfd9 4px solid;
    padding-bottom: 0.2rem; }

.project-image {
  display: flex;
  justify-content: center;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
  justify-items: flex-start;
  align-items: flex-start; }
  .project-image > h4 {
    margin-top: 5rem;
    pointer-events: none; }
  .project-image > a {
    border: none; }
    .project-image > a > img {
      position: relative;
      border: 3px #c0bfd9 solid;
      height: 25rem; }

i {
  color: #262524;
  font-size: 5rem;
  padding-bottom: 1rem; }

p {
  font-weight: normal;
  line-height: 1.4;
  font-size: 18px;
  color: #262524; }

a {
  color: #262524;
  text-decoration: none;
  border-bottom: #c0bfd9 4px solid;
  padding-bottom: 0.2rem; }

.project-details {
  margin-top: 1rem;
  text-align: center; }

@media screen and (max-width: 374px) {
  .viewfoil {
    padding: 0.5rem; }
  .devicon-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); }
  h3,
  h4 {
    -webkit-text-stroke-width: 0px;
    font-size: 1.2rem; }
  .project-image > a > img {
    height: 20rem !important; } }
